<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>MarathwadaSanchar</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--Admin Side -->
	<context-param>
		<param-name>Username</param-name>
		<param-value>kailas</param-value>
	</context-param>
	<context-param>
		<param-name>Password</param-name>
		<param-value>malshete</param-value>
	</context-param>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<jsp-file>/WEB-INF/admin/aLogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminHome</servlet-name>
		<jsp-file>/WEB-INF/admin/aHome.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminHome</servlet-name>
		<url-pattern>/ahome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LProcess</servlet-name>
		<jsp-file>/WEB-INF/admin/aloginprocess.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LProcess</servlet-name>
		<url-pattern>/process</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Paper</servlet-name>
		<jsp-file>/WEB-INF/admin/paper.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Paper</servlet-name>
		<url-pattern>/paper</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add Advertiesment</servlet-name>
		<jsp-file>/WEB-INF/admin/addadvImages.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Advertiesment</servlet-name>
		<url-pattern>/adverties</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Add Job</servlet-name>
		<jsp-file>/WEB-INF/admin/addJobDeatails.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Job</servlet-name>
		<url-pattern>/jobs</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>LogoutAdmin</servlet-name>
		<jsp-file>/WEB-INF/admin/Logout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutAdmin</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<!-- Client Side -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/WEB-INF/pages/home.jsp</jsp-file>

	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>History</servlet-name>
		<jsp-file>/WEB-INF/pages/history.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MarathaHistory</servlet-name>
		<jsp-file>/WEB-INF/pages/paperhistory.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarathaHistory</servlet-name>
		<url-pattern>/MarathwadaHistory</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Participation</servlet-name>
		<jsp-file>/WEB-INF/pages/participation.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Participation</servlet-name>
		<url-pattern>/participation</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>PaperCollection</servlet-name>
		<jsp-file>/WEB-INF/pages/collection.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaperCollection</servlet-name>
		<url-pattern>/collection</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Contact Us</servlet-name>
		<jsp-file>/WEB-INF/pages/contact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact Us</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Offer</servlet-name>
		<jsp-file>/WEB-INF/pages/offerShow.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Offer</servlet-name>
		<url-pattern>/offer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Job</servlet-name>
		<jsp-file>/WEB-INF/pages/JobAdver.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Job</servlet-name>
		<url-pattern>/job</url-pattern>
	</servlet-mapping>



</web-app>